/*font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
/*--------Style For First Section---------------*/    
.first{
    display: flex;
    background-color: mediumblue;
    width: 100%;
    margin: 0%;
}
#top{
    color: snow;
    height: 230px;
    width: 485px;
    font-weight: 700;
    font-size: 64px;
    margin: 196px 0px 80px 152px;
}
.link-button{
    width: 168px;
    height: 44px;
    border: 1px solid #E02C6D;
    color: snow;
    background-color: #E02C6D;
    text-decoration: none;
    margin: 38px 0px 169px 156px;
    padding: 10px 24px 10px 24px;
    transition-property: width;
    transition-duration: 2s;
    transition-delay: .5s;
}
.link-button:hover{
    background-color: mediumorchid;
}
.header-img img{
    height: 438px;
    width: 556px;
    margin: 140px 240px 114px 190px;
    transition: 2s;
    transition-timing-function: ease;
    transition-delay: .5s;
}
.header-img img:hover{
    transform: scale(.5) rotate(-380deg);
}
/*--------------------Style For Second Section-------------*/
.players-one{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    height: 474px;
    width: 330px;
    margin-top: 70px;
    margin-left: 180px;
    margin-right: 210px;
    box-shadow: rgba(0, 0, 0, 0.40);

}
.player{
    height: 426px;
    width: 300px;
    margin-left: 25px;
    background-color:#FFFFFF ;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.20);
}
.player-info{
    margin-left: 15px;
    font-size: 15px;
    color: dimgray;
}
.title{
    margin-left: 15px;
    font-size: 22px;
    font-weight: bolder;
    color: #18191F;
}
.banner img{
    height: 220px;
    width: 270px;
    margin: 15px 15px 0px 15px;
}
/*---------------Styles For Third Section---------------*/
}
.containers-two{
    display: flex;
}
.players-two{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    height: 474px;
    width: 330px;
    margin-left: 180px;
    margin-right: 210px;
    margin-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.40);

}
/*---------------Styles For Fourth Section----------------*/
.containers-three{
    display: flex;
}
.players-three{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    height: 474px;
    width: 330px;
    margin-left: 180px;
    margin-right: 210px;
    margin-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.40);

}
/*--------------------Styles For Fifth Section-----------------*/
.containers-four{
    display: flex;
}
.players-four{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    height: 474px;
    width: 330px;
    margin-left: 180px;
    margin-right: 210px;
    margin-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.40);
}
/*-------------------Styles For Sixth Section----------------*/
.middle{
    display: flex;
}
.middle-text{
    width: 466px;
    height: 309px;
    margin-left: 192px;
    margin-top: 180px;
    margin-right: 78px;
    
}
#text{
    font-size: 45px;
    font-weight: bolder;
}
#game{
    color: dimgray;
}
#link{
    width: 173px;
    height: 44px;
    border: 1px solid #E02C6D;
    color: snow;
    background-color: #E02C6D;
    text-decoration: none;
    padding: 10px 24px 10px 24px;
    margin-top: 40px;
}
#link:hover{
    background-color: mediumorchid;
}
    

.middle-img img{
    width: 567px;
    height: 427px;
    margin-top: 140px;
}
/*---------------------Footer Section---------*/
.logo img{
    height: 110px;
    width: 483.87px;
    margin-left: 475px;
    margin-top: 158px;
    margin-right: 481.13;
}
.social-media{
    height: 32px;
    width: 170px;
    margin-left: 650px;
    margin-right: 638.06;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    
}
.media{
    padding: 2px;
    color: darkgray;
    
    
}
.social-media a:hover{
    background-color: dimgrey;
}
#last{
    text-align: center;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.747);
}
/*--------------------------Media Query----------------*/
/*-----------------------------------------------------*/


